html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.negative-format:before,
.negative-money:before{
  content: "- "
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.card-background{
  background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,0.2) 17%, rgba(252,176,69,0.2) 100%);
}

.text-overflow{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden
}